<mat-toolbar color="primary">

    <span><a routerLink="/">Posts app</a></span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf='userIsAuthenticated'>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">
          Add new post
        </a>
      </li>
      <li *ngIf='!userIsAuthenticated'>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">
          Login
        </a>
      </li>
      <li *ngIf='!userIsAuthenticated'>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">
          Signup
        </a>
      </li>
      <li *ngIf='userIsAuthenticated'>
        <button mat-button (click)="onLogout()">
          Logout
        </button>
      </li>
    </ul>

</mat-toolbar>
