<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSavePost()">
    <mat-form-field>
      <input
        matInput
        placeholder="New post title"
        name="title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a post title</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
      <mat-error *ngIf="form.get('image').invalid && imagePreview"
      >There isn't image file</mat-error
    >
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="New post content"
        rows="6"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter a post content</mat-error
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      Save post
    </button>
  </form>
</mat-card>

