:host {
    margin-top: 1rem;
    display: block;
}

.text-info {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

mat-paginator {
    margin-top: 1rem;
}

.post-image {
    width: 100%;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}
