<mat-spinner *ngIf="isLoading; else showPosts"></mat-spinner>
<ng-template #showPosts>
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title" />
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row *ngIf='userIsAuthenticated'>
        <button mat-button color="primary" [routerLink]="['/edit', post.id]">
          Edit
        </button>
        <button mat-button color="warn" (click)="onDelete(post.id)">
          Delete
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
  <p class="mat-body-1 text-info" *ngIf="posts.length == 0">No posts</p>
</ng-template>
